<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block th:insert="~{fragments/config :: ConfigFragment}"></th:block>
<th:block layout:fragment="Title"></th:block>
</head>
<body>
<!-- Navigation bar (Header) -->
<th:block th:insert="~{fragments/header :: headerFragment}"></th:block>

<div class="container">
    <!-- Content -->
    <th:block layout:fragment="Content"></th:block>
</div>

<!-- Footer -->
<th:block th:insert="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>