<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block th:fragment="ConfigFragment">
  <!-- Common Head -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <!-- Common CSS -->
  <th:block th:insert="~{common/styles}"></th:block>
  <!-- Common JS -->
  <th:block th:insert="~{common/scripts}"></th:block>

  <!-- Each Page's CSS -->
  <th:block layout:fragment="css"></th:block>
  <!-- Each Page's JS -->
  <th:block layout:fragment="script"></th:block>
</th:block>
</head>
</html>